 /* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    font-family: 'Gafata', sans-serif;
    box-sizing: border-box;
}

/* General styles */
body {
    background: url(../images/cartoon-style.jpg) repeat center;
    background-color: black;
    color: black;
    font-size: 16px;
}


/* Style for game area */
.container {
    background-color: bisque;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 10px solid;
    border-color: black;
}

.container h1 {
    font-size: 42px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.container p {
    font-size: 18px;
    padding: 10px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
}

.btn {
    background-color: bisque;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: black;
    color: bisque;
}

#next-btn {
    background: black;
    color: bisque;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}



/* Media query: large or landscape phones (576px and up */
@media screen and (min-width: 576px) {

}


/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
}